@use "variables" as v;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: v.$fuente_principal;
  font-size: v.$normalfontsize;
  line-height: 1.4;
}

ul {
  list-style: none;
  // Color highlighting when pressed on mobile devices
  // -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: v.$blanco;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: 50px;
  margin: 0 auto;
}
