@use "base/variables" as v;
@use "base/mixins" as m;

.contacto {
  &__heading {
    text-align: center;
    margin-top: 2rem;
  }

  &__formulario {
    max-width: 1050px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    margin: 3rem auto;
  }

  &__imagen {
    background: url(/build/img/HomeDesktopSlide3.avif) no-repeat center;
    background-size: cover;
    height: 100%;
  }

  &__contenido {
    padding: 25px 40px;
  }

  &__input {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__textarea {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
    min-height: 150px;
    resize: none;
  }

  &__boton {
    @include m.boton(v.$primario, v.$blanco);
  }
}

@media screen and (max-width: 880px) {
  .contacto__formulario {
    grid-template-columns: 1fr;
  }
  .contacto__imagen {
    height: 200px;
  }
}
