@use "base/variables" as v;
@use "base/mixins" as m;

.sectores {
  margin-top: 2rem;

  &__heading {
    text-align: center;
    color: v.$primario;
  }

  &__grid {
    display: flex;
    flex-direction: column;

    @include m.desktop {
      display: block;
    }
  }
}

.sector {
  margin: 2rem 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include m.desktop {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 3rem;
  }

  &__informacion {
    &-heading {
      text-align: center;
      color: v.$primario;
      margin: 1rem 0;
    }
    &-parrafo {
      text-align: justify;
      padding: 0;
      line-height: 1.8;
    }
  }

  &__lista {
    margin-top: 0.8rem;
  }

  &__elemento {
    color: v.$primario;
    font-weight: 900;
    text-align: justify;
    margin: 0.4rem 0;
    &::before {
      content: "°";
    }
  }

  &__boton {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    a {
      @include m.boton(v.$primario, v.$blanco);
      font-size: 1rem;
    }
  }
}
