@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
  margin-top: 2rem;
  background-color: v.$primario;
  padding: 2rem;
  color: v.$blanco;
  text-align: center;

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
